<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='templates.css') }}" media="all" />
    <meta charset="UTF-8">
    <style>
      a:link {
        float: right;
        margin-right: 10px;
        color: #897d9c;
        text-decoration: none;
      }
    </style>
</head>
<body>
  <a href="{{ url_for('logout') }}">Logout</a>
  <a href="{{ url_for('decks') }}">Decks</a>
  <br />
  <div class="card-profile">
  <div class="inner-flex ">
    <div class="card-image">
      <div class="card-image-front">
        <img class="card c15 border-black " src="{{ card[0].image_url }}" />
      </div>
    </div>
    <div class="card-text">
        <h1 class="card-text-title" lang="en">
          <span class="card-text-card-name">{{ card[0].name }}</span>
        </h1>
      <p class="card-text-type-line">{{ card[0].types }}</p>
      <div class="card-text-oracle">
        <p>{{ card[0].desc }}</p>
      </div>
      <div class="card-text-flavor">
      <p>{{ card[0].flavor }}</p>
      </div>

    </div>
  </div>
  </div>

    <div class="card-profile">
    <div class="inner-flex ">
          <div class="card-grid">
        <div class="card-grid-inner">
          {% for i in range(1,5) %}
          <div class="card-grid-item">
            <a class="card-grid-item-card" href="">
              <span class="card-grid-item-invisible-label" aria-hidden="true"
                >{{ card.name }}</span
              >
              <div class="card-grid-item-card-faces">
                <div class="card-grid-item-card-front">
                  <img
                    class="card c15 border-black"
                    src="https://c1.scryfall.com/file/scryfall-cards/large/front/2/f/2f025c11-feeb-429b-9518-f24d70596601.jpg?1562733199"
                  />
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
</body>
</html>
