<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://assets.scryfall.com/assets/scryfall-5717643cbc036f6b053ed0373e657a3ff17d1a4a5639bbaeec3a4f06fbc33a65.css" media="all" />
    <meta charset="UTF-8">
</head>
<body>
<p>{{ card }}</p>
  <div class="card-profile">
  <div class="inner-flex ">
    <div class="card-image">
      <div class="card-image-front">
        <img class="card c15 border-black " src="https://c1.scryfall.com/file/scryfall-cards/large/front/2/f/2f025c11-feeb-429b-9518-f24d70596601.jpg?1562733199" />
      </div>
    </div>
  </div>
  </div>

    <div class="card-profile">
    <div class="inner-flex ">
          <div class="card-grid">
        <div class="card-grid-inner">
          <div class="card-grid-item">
            <a class="card-grid-item-card" href="">
              <span class="card-grid-item-invisible-label" aria-hidden="true"
                >{{ card.name }}</span
              >
              <div class="card-grid-item-card-faces">
                <div class="card-grid-item-card-front">
                  <img
                    class="card c15 border-black"
                    src="https://c1.scryfall.com/file/scryfall-cards/large/front/2/f/2f025c11-feeb-429b-9518-f24d70596601.jpg?1562733199"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
</html>