<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MTG Decks</title>
    <style>
      a:link {
        float: right;
        margin-right: 10px;
        color: #897d9c;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('home') }}">Home</a>
    <br>
      {% for deck in decks %}
        <div>{{ deck.name }}</div>
        <div>&ensp; Main</div>
        {% for card in deck.main %}
          <div>&emsp; {{ card.id }} {{ card.name }}</div>
        {% endfor %}
        {% if deck.sideboard|length > 0 %}
          <div>&ensp; Sideboard</div>
          {% for card in deck.sideboard %}
            <div>&emsp; {{ card.id }} {{ card.name }}</div>
          {% endfor %}
        {% endif %}
      {% endfor %}
  </body>
</html>
